.navbar li {
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    font-size: larger;
}

#hero-image {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #474747;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
    text-align: center;
}

/* #hero-image h1 {
    position: relative;
    color: white;
    transform: rotate(45deg);
    top: 150px;
}

#hero-image a {
    text-decoration: none;
} */

.center-logo {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title {
    font-family: "League Gothic";
    font-size: 75px;
    padding: 50px;
}

.about {
    height: 600px;
    color: white;
    background-color: #1b1b1b;
}

.schedule {
    height: 600px;
    color: white;
    background-color: #474747;
}

.shop {
    height: 600px;
    color: black;
    background-color: #fff;
}

.contact {
    height: 600px;
    color: white;
    background-color: #1b1b1b;
}

@media only screen and (max-width: 600px) {
    .center-logo {
        height: 100px;
    }

    .center-text h1 {
        font-size: 1.5rem;
    }

    .center-text h4 {
        font-size: .75rem;
    }
}

@media only screen and (min-width: 600px) {
    .center-logo {
        height: 150px;
    }

    .center-text h1 {
        font-size: 1.75rem;
    }

    .center-text h4 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .center-logo {
        height: 200px;
    }

    .center-text h1 {
        font-size: 2rem;
    }

    .center-text h4 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .center-logo {
        height: 250px;
    }

    .center-text h1 {
        font-size: 2.25rem;
    }

    .center-text h4 {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1200px) {
    .center-logo {
        height: 300px;
    }

    .center-text h1 {
        font-size: 2.5rem;
    }

    .center-text h4 {
        font-size: 1.5rem;
    }
}