#home {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #474747;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
    text-align: center;
}

.center-logo {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.title a {
    font-family: "League Gothic";
    font-size: 75px;
    padding: 50px;
    color: white;
    text-decoration: none;
}

#about {
    height: 600px;
    color: white;
    background-color: #1b1b1b;
}

#schedule {
    height: 1000px;
    color: white;
    background-color: #474747;
}

#shop {
    height: 600px;
    color: black;
    background-color: #fff;
}

#contact {
    height: 400px;
    color: white;
    background-color: #1b1b1b;
}

.calendar {
    border-width: 0;
    height: 80%;
    width: 80%;
    display: block;
    margin: auto;
}

.shop-items {
    display: inline;
}

.shop-items li {
    padding: 20px;
    display: inline;
}

.shop-items img {
    height: 60%;
}

.contact-links {
    position: relative;
    text-align: center;
    float: center;
}

@media only screen and (max-width: 600px) {
    .center-logo {
        height: 100px;
    }

    .center-text h1 {
        font-size: 1.5rem;
    }

    .center-text h4 {
        font-size: .75rem;
    }
}

@media only screen and (min-width: 600px) {
    .center-logo {
        height: 150px;
    }

    .center-text h1 {
        font-size: 1.75rem;
    }

    .center-text h4 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .center-logo {
        height: 200px;
    }

    .center-text h1 {
        font-size: 2rem;
    }

    .center-text h4 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 992px) {
    .center-logo {
        height: 250px;
    }

    .center-text h1 {
        font-size: 2.25rem;
    }

    .center-text h4 {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1200px) {
    .center-logo {
        height: 300px;
    }

    .center-text h1 {
        font-size: 2.5rem;
    }

    .center-text h4 {
        font-size: 1.5rem;
    }
}