body,
html {
    height: 100%;
    background-color: #1b1b1b;
}

@font-face {
    font-family: "League Gothic";
    src: url(../Fonts/LeagueGothic-Regular.otf) format("truetype");
}

a {
    text-decoration: none;
    color: #7B52A0;
}

a:hover {
    color: #b28fd1;
}

.navbar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar ul {
    padding: 0;
    display: block;
    margin: auto;
}

.navbar li {
    display: inline;
    padding-left: 25px;
    padding-right: 25px;
    font-size: larger;
}

.navbar-active {
    color: #b28fd1;
}

.navbar-background {
    position: fixed;
    width: 100%;
    height: 72.8px;
    top: 0;
    background-color: black;
    z-index: 1;
}

.navbar-logo {
    z-index: 1;
    height: 100%;
    margin-left: 20px;
}

.navbar-icons {
    float: right;
    padding-top: 20px;
    margin-right: 20px;
}

.navbar-icons li {
    display: inline;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-icons img {
    width: 25px;
}