html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #212121;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    text-decoration: none;
    color: #7B52A0;
}

a:hover {
    color: #b28fd1;
}

#home {
    padding-top: 270px;
    padding-bottom: 270px;
    background-color: #474747;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
    text-align: center;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("../public/images/background/brfitness-2.jpg"); */
}

.center-logo {
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}